body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

img {
  border-radius: 50%;
  width: 10%;
}

h1, h2 {
  display: flex;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  color: grey;
  font-size: 1em;
  margin-top: 0;
}

.first, .second {
  text-align: center;
}


button {
  border-radius: 15px;
  color: white;
  background-color: rgb(54, 54, 102);
  border: none;
  padding: 10px 20px;
}